:root {
  --db05: #091B6F;
  --db04:#0D28A6;
  --db03:#5E70C4;
  --db02:#AEB7E1;
  --db01:#CFD4ED;
  --lg05:#3D7B3F;
  --lg04: #5CB85F;
  --lg03: #92D094;
  --lg02: #C9E7CA;
  --lg01: #DEF1DF;
  --bg01:#F1F3FF;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

header {
  padding: 0.5em 0;
  background-color: var(--bg01);
}

nav {
  font-size: 14px;
  color: #151515;
}
nav .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn {
  background-color: var(--lg04);
  color: white;
  border-radius: 2px;
}

.btn:hover {
  font-weight: bold;
  background-color: var(--db01);
  color: var(--db05);
  border: none;
}

.nav-link {
  margin-top: 6px;
  margin-right: 22px;
}

.nav-link:hover {
  font-weight: bold;
}

.offcanvas-header {
  padding-bottom: 0;
}

.offcanvas-body {
  padding-top: 0;
}

#offcanvasRight {
  width: 250px;
}

.bagian-awal {
  background-color: var(--bg01);
}

#desc-awal {
  padding: 2em 0.5em 2em 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#desc-awal h1 {
  font-weight: 700;
  font-size: 36px;
}
#desc-awal p {
  padding-right: 2em;
  font-weight: 300;
  font-size: 14px;
}

#car {
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.service {
  margin: 3em 0.5em;
}

#woman {
  display: flex;
  justify-content: center;
}
#woman img {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#desc-service {
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  font-size: 14px;
}
#desc-service h2 {
  font-weight: 700;
  font-size: 24px;
}
#desc-service p {
  margin: 0;
  padding: 0.8em 0 0.5em 0;
}
#desc-service ul {
  padding: 0;
}
#desc-service li {
  list-style: none;
  background: url(../assets/list.svg) no-repeat left center;
  padding: 7px 0px 7px 42px;
}

.why-us {
  margin: 1em 0.5em;
  font-size: 14px;
}
.why-us h2 {
  font-weight: 700;
  font-size: 24px;
}
.why-us h5 {
  font-weight: 700;
}
.why-us img {
  width: 35px;
  margin: 10px 0 0 16px;
}

.card {
  margin-top: 0.5em;
  width: 250px;
  height: 180px;
}

.testimonial {
  margin: 6em 0.5em;
  font-size: 14px;
}
.testimonial h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.testimonial h2 + p {
  text-align: center;
}
.testimonial .carousel-inner {
  background-color: var(--bg01);
  border-radius: 13px;
  padding: 3em 1em;
}
.testimonial .star {
  padding: 0.5em 0;
}
.testimonial .quote {
  margin: 0;
  padding-bottom: 0.5em;
}

.gs {
  margin: 1em 0.5em;
}

#getting-started {
  text-align: center;
  background-color: var(--db04);
  border-radius: 13px;
  color: white;
}

#isi-getting-started {
  padding: 3em 0.5em;
  font-size: 14px;
}
#isi-getting-started h2 {
  font-weight: 700;
  font-size: 36px;
}
#isi-getting-started p {
  padding: 0.5em 6em;
}

.freq {
  margin: 5em 0.5em;
}

.accordion-item {
  margin-bottom: 1em;
  border-radius: 10px;
}

.accordion-button {
  font-size: 14px;
}

#faq {
  font-size: 14px;
}
#faq h2 {
  font-weight: 700;
  font-size: 24px;
}

footer {
  margin: 3em 0.5em;
}
footer ul {
  padding-left: 0;
}
footer li {
  list-style: none;
  padding-bottom: 8px;
}
footer a:hover {
  font-weight: bold;
  color: #151515;
}
footer a {
  text-decoration: none;
  color: #151515;
  font-size: 14px;
}
footer h6 {
  color: gray;
  font-size: 14px;
  padding-bottom: 5px;
}
footer .icons {
  padding-bottom: 1em;
}
footer .icons img {
  width: 40px;
  height: 40px;
  padding-right: 0.8em;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 215px;
    height: 201px;
  }
}
@media only screen and (max-width: 992px) {
  #desc-awal {
    padding: 1em 0.5em 2em 5em;
  }
  #wu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-inner p {
    padding-left: 1em;
  }
  .carousel-inner .star {
    padding-left: 1em;
  }
  .card {
    width: 174px;
    height: 272px;
  }
}
@media only screen and (max-width: 768px) {
  #desc-awal {
    padding: 1em 0.5em 2em 3em;
  }
  .carousel-inner {
    display: flex;
    text-align: center;
  }
  .carousel-inner p {
    padding: 0 3em;
  }
  .carousel-inner .star {
    padding-left: 0;
  }
  #faq-desc {
    text-align: center;
  }
  .card {
    width: 250px;
    height: 180px;
  }
}
@media only screen and (max-width: 576px) {
  #desc-awal {
    padding: 1em 0.5em 2em 0.5em;
  }
  #wu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #wu .row {
    display: grid;
  }
}/*# sourceMappingURL=index.css.map */